* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}
#wrapper {
    width: 100%;
    height: 60px;
}
#header {
    padding: 0;
    border: 0 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
#header .logo img {
    width: 150px;
}
#menu {
    list-style: none;
    display: flex;
}
#menu .item {
    margin: 0 40px;
}
#menu .item a {
    color: rgb(58, 55, 55);
    text-decoration: none;
}

.ten {
    text-transform: capitalize;
}

th {
    color: white;
    background-color: blue;
}
table {
    width: 100%;
    height: 50%;
}
.hover tbody tr .ten:hover{
    background: rgb(0, 0, 0)
}
.kq {
    background-color: aqua;
    color: azure;
}

#banner {
    width: 100%;
    background-image: url(img/succesful.png);
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0 133px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;

}
#banner .box-left, #banner .box-right {
    width: 100%;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: rgb(0, 0, 0);
    text-align: center;
}



.ten a {
    text-decoration: none;
}

.table {
    width: 100%;
    height: auto;
    
}

.hover tbody tr .ten a:hover  {
    color: white;
}

#menu .item:hover a{
    color: red;
    font-style: italic;
}

